<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
  George O Curioso
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card color="dark">
    <ion-button color="medium" size="default" onClick="history.go(-1)">  Voltar </ion-button>
        <ion-card-header>
          <img src="https://image.tmdb.org/t/p/w220_and_h330_face/60RXQPjPgjrjsVnvwG0sutIeoeY.jpg">
        </ion-card-header>



<ion-item color="dark"> 
<div class="info ion-text-center">
  <span class="tipo"> Tipo: G</span>
  <div class="info ion-text-center">
  <span class="duracao"> Duração: 1h 27min</span>
</div> 
<p> Gênero: Aventura, Animação, Comédia, Família</p>
<ion-button color="danger">ASSISTIR</ion-button>
</div>


</ion-item>

<ion-item color="dark">  
  <div>
    <h2>Sinopse</h2>
  
    <p>No filme online George, o Curioso, George, o macaquinho mais curioso do mundo, estrela mais uma história divertida e educativa. Nesta nova aventura, 
      George e O Homem do Chapéu Amarelo estão contando os dias para o Natal.</p>
    </div>
  </ion-item>

  


  <ion-item color="light">  
  <div class="info ion-text-center">
    <h2>Alguns dubladores</h2>
  </div>
  </ion-item>
<ion-grid>
<ion-row>
 
<ion-col>
<div class="info ion-text-center">
<p>Will Ferrell</p>
</div>
<img src="https://image.tmdb.org/t/p/w138_and_h175_face/sXT9uCw7ceIxTdmL9XqtuYdNmgM.jpg">
</ion-col>
 
<ion-col>
<div class="info ion-text-center">
<p>Frank Welker</p>
</div>
<img src="https://image.tmdb.org/t/p/w138_and_h175_face/b3gImArbw13mMKJIe9leFc9YYb7.jpg">
</ion-col>

</ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
       
      <ion-col>
      <div class="info ion-text-center">
      <p>Eugene Levy</p>
      </div>
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/i2cyjoGr63nWdSkcW4MNumpIYCk.jpg">
      </ion-col>
       
      <ion-col>
      <div class="info ion-text-center">
      <p>Shane Baumel</p>
      </div>
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/AqQxm6vwF8b6OUrtwbvuLHoEVb7.jpg">
      </ion-col>
      
      </ion-row>
          </ion-grid>
  

     
 

  <ion-item lines="full">
  <div>
    <p4>Avaliação dos usuários</p4>
  </div>
    <div slot="end" class="c100 p60 small">
      <span>60%</span>
       <div class="slice">
         <div class="bar"></div>
         <div class="fill"></div>
         
       </div>
    </div>
</ion-item>


</ion-card>

</ion-content>
