<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
  The Vampire Diaries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card color="dark">
    <ion-button color="medium" size="default" onClick="history.go(-1)">  Voltar </ion-button>
        <ion-card-header>
          <img src="https://image.tmdb.org/t/p/w220_and_h330_face/yfGS5vdFHxxE9jQazgypKUdIZPr.jpg">
        </ion-card-header>



<ion-item color="dark"> 
<div class="info ion-text-center">
  <span class="tipo"> Tipo: TV-14 </span>
  <div class="info ion-text-center">
  <span class="duracao"> Duração: 43 min </span>
</div> 
<p> Gênero: Drama, Terror, Fantasia  e Romance</p>
<ion-button color="danger">ASSISTIR</ion-button>
</div>


</ion-item>

<ion-item color="dark">  
  <div>
    <h2>Sinopse</h2>
  
    <p>Elena tenta sobreviver entre os seres sobrenaturais que vivem em segredo. 
      Ela se apaixona pelo misterioso Stefan, mas o retorno do seu irmão, Damon, ameaça essa paixão.</p>
    </div>
  </ion-item>

  


  <ion-item color="light">  
  <div class="info ion-text-center">
    <h2>Alguns atores</h2>
  </div>
  </ion-item>
<ion-grid>
<ion-row>
 
<ion-col>
<div class="info ion-text-center">
<p>Ian Somerhalder</p>
</div>
<img src="https://image.tmdb.org/t/p/w138_and_h175_face/xECvTp6Cw5fRzrlmoGhl7AflruY.jpg">
</ion-col>
 
<ion-col>
<div class="info ion-text-center">
<p>Paul Wesley</p>
</div>
<img src="https://image.tmdb.org/t/p/w138_and_h175_face/eP7FoWuVtrQ8pRqSGwxbwBUB3CL.jpg">
</ion-col>

</ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
       
      <ion-col>
      <div class="info ion-text-center">
      <p>Nina Dobrev</p>
      </div>
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/p1oyGVWqMJRahbeoQ27K4DjTnI1.jpg">
      </ion-col>
       
      <ion-col>
      <div class="info ion-text-center">
      <p>Candice King</p>
      </div>
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/xfqDBR8P8q25kGCLpHj4xIZLoGS.jpg">
      </ion-col>
      
      </ion-row>
          </ion-grid>
  

     
 

  <ion-item lines="full">
  <div>
    <p4>Avaliação dos usuários</p4>
  </div>
    <div slot="end" class="c100 p81 small green">
      <span>81%</span>
       <div class="slice">
         <div class="bar"></div>
         <div class="fill"></div>
         
       </div>
    </div>
</ion-item>


</ion-card>

</ion-content>

