<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
   Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
    </div>
  </div>

<ion-grid>
  
  <h1>Populares</h1>
      <ion-row>
        <ion-col routerLink="/flash">
          <img src="https://image.tmdb.org/t/p/w220_and_h330_face/wHa6KOJAoNTFLFtp7wguUJKSnju.jpg">
          </ion-col>

        <ion-col routerLink="/thevampire-diaries">
          <img src=" https://image.tmdb.org/t/p/w220_and_h330_face/kLEha9zVVv8acGFKTX4gjvSR2Q0.jpg">
        </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/jnsvc7gCKocXnrTXF6p03cICTWb.jpg">
            </ion-col>
  
          <ion-col>
            <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/6zBWSuYW3Ps1nTfeMS8siS4KUaA.jpg">
          </ion-col>
          </ion-row>


  
        
      
    
  
    </ion-grid>
</ion-content>
    