<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
   Ad Astra
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card color="dark">
    <ion-button color="medium" size="default" onClick="history.go(-1)">  Voltar </ion-button>
        <ion-card-header>
          <img src="https://image.tmdb.org/t/p/w220_and_h330_face/wigZBAmNrIhxp2FNGOROUAeHvdh.jpg">
        </ion-card-header>



<ion-item color="dark"> 
<div class="info ion-text-center">
  <span class="tipo"> Tipo: TV-PG </span>
  <div class="info ion-text-center">
  <span class="duracao"> Duração: 2h 3min </span>
</div> 
<p> Gênero: Drama e Ficção Científica</p>
<ion-button color="danger">ASSISTIR</ion-button>
</div>


</ion-item>

<ion-item color="dark">  
  <div>
    <h2>Sinopse</h2>
  
    <p>Roy McBride é um engenheiro espacial, portador de um leve grau de autismo, que decide empreender a maior jornada de sua vida: viajar para o espaço, cruzar a galáxia e tentar descobrir o que aconteceu com seu pai, um 
      astronauta que se perdeu há vinte anos atrás no caminho para Netuno.</p>
    </div>
  </ion-item>

  


  <ion-item color="light">  
  <div class="info ion-text-center">
    <h2>Alguns atores</h2>
  </div>
  </ion-item>
<ion-grid>
<ion-row>
 
<ion-col>
<div class="info ion-text-center">
<p>Bredy Pitt</p>
</div>
<img src="https://image.tmdb.org/t/p/w138_and_h175_face/kU3B75TyRiCgE270EyZnHjfivoq.jpg">
</ion-col>
 
<ion-col>
<div class="info ion-text-center">
<p>Tommy Lee</p>
</div>
<img src="https://image.tmdb.org/t/p/w138_and_h175_face/rdKKuq8zWCDYlKSxIfwGo2RUjpN.jpg">
</ion-col>

</ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
       
      <ion-col>
      <div class="info ion-text-center">
      <p>Ruth Negga</p>
      </div>
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/aL4nmTVtQU2uQDNdBCarTy413CZ.jpg">
      </ion-col>
       
      <ion-col>
      <div class="info ion-text-center">
      <p>John Ortiz</p>
      </div>
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/o2SOFI53N6Gv5S3fDEBNbeimbzY.jpg">
      </ion-col>
      
      </ion-row>
          </ion-grid>
  

     
 

  <ion-item lines="full">
  <div>
    <p4>Avaliação dos usuários</p4>
  </div>
    <div slot="end" class="c100 p60 small">
      <span>60%</span>
       <div class="slice">
         <div class="bar"></div>
         <div class="fill"></div>
         
       </div>
    </div>
</ion-item>


</ion-card>


</ion-content>





  
