<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
  The Flash
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card color="dark">
    <ion-button color="medium" size="default" onClick="history.go(-1)">  Voltar </ion-button>
        <ion-card-header>
          <img src="https://image.tmdb.org/t/p/w220_and_h330_face/wHa6KOJAoNTFLFtp7wguUJKSnju.jpg">
        </ion-card-header>



<ion-item color="dark"> 
<div class="info ion-text-center">
  <span class="tipo"> Tipo: TV-PG </span>
  <div class="info ion-text-center">
  <span class="duracao"> Duração: 44 min </span>
</div> 
<p> Gênero: Drama, Ficção Científica e Fantasia</p>
<ion-button color="danger">ASSISTIR</ion-button>
</div>


</ion-item>

<ion-item color="dark">  
  <div>
    <h2>Sinopse</h2>
  
    <p>Barry enfrenta diversos assassinos que invadem a premiação onde ele acompanha Iris, mas os efeitos colaterais
       de seus novos superpoderes representam uma ameaça.</p>
    </div>
  </ion-item>

  


  <ion-item color="light">  
  <div class="info ion-text-center">
    <h2>Alguns atores</h2>
  </div>
  </ion-item>
<ion-grid>
<ion-row>
 
<ion-col>
<div class="info ion-text-center">
<p>Grant Gustin</p>
</div>
<img src="https://image.tmdb.org/t/p/w138_and_h175_face/kEGU1gGySIe63lyL7AnwXEw4rQn.jpg">
</ion-col>
 
<ion-col>
<div class="info ion-text-center">
<p>Candice Patton</p>
</div>
<img src="https://image.tmdb.org/t/p/w138_and_h175_face/t9YV7TTQXkDWLmoHx8Mu3OUHqsP.jpg">
</ion-col>

</ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
       
      <ion-col>
      <div class="info ion-text-center">
      <p>Carlos Valdes</p>
      </div>
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/uDQWtrmSPsNsm2DL3TMMiAtVoTq.jpg">
      </ion-col>
       
      <ion-col>
      <div class="info ion-text-center">
      <p>Danielle Panabaker</p>
      </div>
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/faX0EDc44GL5ZcsEcxTOBcfWpCP.jpg">
      </ion-col>
      
      </ion-row>
          </ion-grid>

          
          <ion-item lines="full">
            <div>
              <p4>Avaliação dos usuários</p4>
            </div>
              <div slot="end" class="c100 p73 small green">
                <span>73%</span>
                 <div class="slice">
                   <div class="bar"></div>
                   <div class="fill"></div>
                   
                 </div>
              </div>
          </ion-item>



</ion-card>

</ion-content>
