<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
   Resgate
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card color="dark">
    <ion-button color="medium" size="default" onClick="history.go(-1)">  Voltar </ion-button>
        <ion-card-header>
          <img src="https://image.tmdb.org/t/p/w220_and_h330_face/zxahunlqvMPWzUBd1XSRsGawdS9.jpg">
        </ion-card-header>



<ion-item color="dark"> 
<div class="info ion-text-center">
  <span class="tipo"> Tipo: R </span>
  <div class="info ion-text-center">
  <span class="duracao"> Duração: 1h 56min </span>
</div> 
<p> Gênero: Drama, Ação e Suspense</p>
<ion-button color="danger">ASSISTIR</ion-button>
</div>


</ion-item>

<ion-item color="dark">  
  <div>
    <h2>Sinopse</h2>
  
    <p>Em Bangladesh, o mercenário Tyler Rake luta para sobreviver 
      durante a missão para resgatar o filho de um chefão do crime.</p>
    </div>
  </ion-item>

  


  <ion-item color="light">  
  <div class="info ion-text-center">
    <h2>Alguns atores</h2>
  </div>
  </ion-item>
<ion-grid>
<ion-row>
 
<ion-col>
<div class="info ion-text-center">
<p>Chris Hemsworth</p>
</div>
<img src="https://image.tmdb.org/t/p/w138_and_h175_face/6fGCcu1bbc0tVCMhQRmeRryGVMa.jpg">
</ion-col>
 
<ion-col>
<div class="info ion-text-center">
<p>R. Jaiswal</p>
</div>
<img src="https://image.tmdb.org/t/p/w138_and_h175_face/nIiqv0pbRwKeG7Ar42UrLgEBuYW.jpg">
</ion-col>

</ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
       
      <ion-col>
      <div class="info ion-text-center">
      <p>Randeep Hooda</p>
      </div>
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/fF6G3MlCfq6pH1YkHrFVDhe9Uvw.jpg">
      </ion-col>
       
      <ion-col>
      <div class="info ion-text-center">
      <p>David Harbour</p>
      </div>
      <img src="https://image.tmdb.org/t/p/w138_and_h175_face/chPekukMF5SNnW6b22NbYPqAStr.jpg">
      </ion-col>
      
      </ion-row>
          </ion-grid>
  

     
 

  <ion-item lines="full">
  <div>
    <p4>Avaliação dos usuários</p4>
  </div>
    <div slot="end" class="c100 p75 small orange">
      <span>75%</span>
       <div class="slice">
         <div class="bar"></div>
         <div class="fill"></div>
         
       </div>
    </div>
</ion-item>


</ion-card>

</ion-content>

